.gitsecret/keys/random_seed
.gitignore

# HTML
*.html

# Google service account keys
canyonscraper-*.json

# unknown files
.gitsecret/keys/private-keys-v1.d/
.gitsecret/keys/pubring.kbx~
.idea/PythonCanyonScraper.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
